body{
    margin: 0px !important;
    background-color: blueviolet;
}
.shop-container {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    padding: 54px;
    
}
.shop-item {
    border: 3px solid black;
    background-color: aliceblue;
    width: max-content;
}
.shop-photo {
    padding: 2px;
    height: 350px;
    border-bottom: 1px solid silver;
}
.shop-txt {
    padding: 0px 12px;
}
.shop-mid {
    display: inline-block;
    font-size: 18px;
}
.shop-mid-txt {
    float: left;
    padding-top: 0px;
    padding-left: 0px;
}
.shop-like {
    font-size: 30px;
    float: right;
    padding-left: 59px;
    margin-top: -4px;;
}
.shop-like i:hover{
    cursor: pointer;
    color: red;
    
}
.fa-solid{
    color: red !important;
}
.price-bar{
    word-spacing: 2px;
}
.shop-price {
    font-weight: bold;
    font-size: 18px;
}
.shop-prev-price {
    font-size: 14px;
}
.shop-discount {
    color: crimson;
    font-size: 14px;
}
/* .shop-now {
    padding: 0px 74px;
} */
.shop-btn {
    margin-top: 2px;
    color: #000;
    background-color: gray;
    padding: 10px 6.806rem;
}
button:hover{
    background-color: lightgray;
    cursor: pointer;
}